body{
    margin: 0 25% 0 5%;
}

nav{
    margin-top: 20px;
}

nav li{
    margin-left: 20px;
    display: inline;;
    padding-left: 0;
    list-style: none;
}

nav li:first-child{
    margin-left: 0px

}

nav ul{
    margin: 0;
    padding: 0;
}

li>a{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.212);
    padding: 5px;
    text-decoration-line: none;
    background-color: bisque;
    color: brown;
}

li>a:hover{
    animation-duration: 500ms;
    padding: 10px;
    background-color: black;
    color: white;
}

.active{
    background-color: bisque;
}
