body{
    margin: 0 25% 0 5%;
}

#shapeValidation{
    color:red;
    margin: 0;
    margin-left: 5px;
}

.flexbox-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.flexbox-horizontal{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#canvas{
    margin: 0;
    margin-top: 10px;
}

nav{
    margin-top: 20px;
}

nav li{
    margin-left: 20px;
    display: inline;;
    padding-left: 0;
    list-style: none;
}

nav li:first-child{
    margin-left: 0px

}

nav ul{
    margin: 0;
    padding: 0;
}

li>a{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.212);
    padding: 5px;
    text-decoration-line: none;
    background-color: #C07F00;
    color: #FFF7D4;
}

li>a:hover{
    animation-duration: 500ms;
    padding: 5px;
    background-color: #FFD95A;
    color: #8d7300;
}

.active{
    background-color: #4C3D3D;
}
